

.login{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
   z-index: 1;
  position: relative;
   transition: 2s;
   animation: in 0.1s;
   display: flex;
}
.login img{
height: 100vh;
width: 100%;
opacity: 0.6;

}
@keyframes in{
    0%{
        transform: translateX(1000px);
    }
    100%{
        transform: translateX(0);
    }
}   


.log{
    box-shadow: 0 0 10px rgba(158, 5, 5, 0.1);
    border-radius: 10px;
    background: rgba(0, 12, 12, 0.8);
   border: 1px solid rgb(168, 130, 3);
    display: flex;
    flex-direction: column;
   text-align: center;
    position: fixed;
    width: 100%;
   max-width: 500px;
   animation: in .5s;
   align-items: center;
    
}
.backs{
    display: flex;
    place-self: end;
    margin-right: 20px;
    margin-top: 20px;
    text-align: center;
    align-items: center;
    
}

.back{
   font-family: sans-serif;
   width: 25px;
   height: 25px;
   text-align: center;
   cursor: pointer;
   text-decoration: none;
   color: white;
}

.back:hover{
    background: red;
}
.back:hover .backs h4{
    display: flex;
}
.log h1{
    right: 20px;
    place-self: center;
    margin: 20px;
    font-size: 39px;
    font-family: sans-serif;
}
form{
   display: flex;
   flex-direction: column;
   gap: 25px;
   padding: 20px;
    
}
form input{
    padding: 12px;
    width: 90%;
    place-self: center;
    font-size: 17px;
    background: transparent;
    border: 1px solid green;
    border-radius: 10px;
    color: white;
   
}
input::placeholder{
    font-size: 18px;
    background: transparent;
}
.check{
    display: flex;
    gap: 20px;
    place-self: center;
    font-size: 20px;
    max-width: 80%;
    font-family: sans-serif;
}
.bots p{
  margin: 10px 40px;
   font-size: 18px;
   font-family: Arial, Helvetica, sans-serif;
}
p span{
    color: rgb(126, 112, 254);
    font-size: 20px;
    cursor: pointer;
}
span:hover{
    text-decoration: underline;
}
button{
    padding:7px;
    width: 90%;
    place-self: center;
    color: white;
    background: rgb(255, 38, 0);
    font-size: 30px;
}
@media (max-width: 800px) {
    .log{
        width: 400px;
    }
    .log h1{
        font-size: 28px;
    }
  
}