.card-display{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 20px;
}
.card-display h1{
    margin-left: 30px;
}
.card-display-item{
    position: relative;
    display: flex;
   gap: 40px;
   align-items: center;
    margin-left: 10px;
    
}
.card-display-item h3{
    bottom: 20px;
    color: white;
    left: 20px;
    font-size: 20px;
    font-family: sans-serif;
}
 .card-display-item img{
       border-radius: 10px;
       border: 1px solid rgb(29, 29, 29);
       width: 150px;
      
       
       }
.aa{
    border-radius: 15px;
     background: rgb(27, 27, 27);
    padding: 10px;
    display: flex;
    overflow-x: scroll;
    justify-content: space-between;
}
.aa::-webkit-scrollbar{
    display: none;
}

.card-display h1{
    color: rgb(243, 247, 7);
    background: transparent;
    font-family: sans-serif;
}
@media (max-width: 1050px) {
    .aa{
        display: flex;
        flex-direction: column;
        background: rgb(27, 27, 27);
        gap: 20px;
        text-align: center;
    }
       .card-display-item img{
        width: 200px;
       
       }
       .card-display-item{
        display: flex;
        text-align: center;
        text-align: center;
       }
       .card-display h1{
        text-align: center;
       }
       
    }
@media (max-width: 800px) {
    .aa{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        text-align: center;
    }
       .card-display-item img{
        width: 200px;
       }
       .card-display-item{
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        

       }
       
    }
 
    