.naves{
   align-items: center;
    position: fixed;
    top: 0;
    padding-right: 16px;
    display: flex;
    width: 110%;
    place-self: center;
    justify-content: space-between;
     z-index: 1;
     background: rgb(17, 17, 17);
     place-self: center;
}
.lefts{
    display: flex;
    gap: 30px;
    width: auto;
}
.logo img{
   width: 200px;
   height: 50px;
    
}
.lefts ul{
     gap: 30px;
    color: azure;   
    display: flex;
     padding: 10px;
     height: auto;
     transition: 1s;
     animation: apear 1s;
}
@keyframes apear{
    0%{
        opacity: 0;
        transform: translateX(-300px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
.lefts ul li{

    padding: 5px;
    list-style-type: none;
    font-size: 16px;
    font-family: sans-serif;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 10px;
    cursor: pointer;
}
ul li:hover{
    background: rgb(24, 24, 24);
}
.list{
font-size: 20px;
place-self: center;
cursor: pointer;
display: none;

}

.li ul{
  display: none;
}
.list:hover{
    color: rgb(162, 162, 230);
}
.list:active{
    color: black;
}
.gogle{
    display: flex;
   gap: 20px;
}
.gogle span{
    text-decoration: underline;
    background: white;
}
.rights{
    display: flex;
    gap: 50px;
}
.user{
    position: relative;
    cursor: pointer;
    width: 200px;
}
.user:hover .sm{
    display: flex;
}
.rights-right{
    display: flex;
    gap: 10px;
}

.sm{
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    display: none;
    width: 100%;
    height: 30px;
     align-items: center;
     text-align: center;
     padding: 5px;
    background: rgb(39, 39, 39);
}

.nav-bars li{
    list-style-type: none;
    align-items: center;
    text-align: center;
    font-size: 20px;
}
.rights{
    color: beige;
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 20px;
}
.dark{
    animation: in 2s;
    background: black;
    color: white;
}

.docs{
    text-align: center;
    align-items: center;
    place-self: center;
    font-size: 20px;
    color: bisque;
    cursor: pointer;
}
.input{
    position: absolute;
    top: 52px;
    right: 170px;
    width: 400px;
    background: rgb(77, 74, 74);
    display: flex;
    align-items: center;
    padding-left: 15px;
    border-radius: 10px;
   
}
.input input{
    border: none;
     color: white;
     padding: 10px;
    width: 100%;
    outline: none;
    background: transparent;
    font-size: 16px;

}
.vid-search{
    color: rgb(252, 250, 250);
}
.searched{
      top: 55px;
      position: absolute; 
       background: rgb(10, 10, 10);
       border: 1px solid rgb(13, 71, 1);
       padding: 10px;
       left: 10px;
       align-items: center;
}
.searched h1{
    text-align: center;
    background: #1d1d1d;
    box-shadow: 2px 2px 3px white;
    padding: 5px;
    color: rgb(2, 167, 2);
    
}
.card::-webkit-scrollbar{
    display: none;
}
.card{
    padding: 6px;
   display: flex;
   flex-direction: column;
    gap: 20px;
   -webkit-overflow-scrolling: hidden;
    overflow-y: scroll;
    width: 560px;
    height: 80vh;
   
}
.not-f{
    margin-left: 20px;
    color: red;
    margin-top: 30px;
    font-size: 30px;
}

@keyframes in{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@media (max-width: 800px) {
  .logo img{
    width: 160px;
  }
  .lefts ul{
      left: 0;
    }
    .list{
        display: flex;
    }
    .rights{
       right: 10px;
    }
    .naves{
        width: 120%;
        padding-right: 2px;
    }
    .searched{
        top: 100px;

    }
    .sm{
     right: 18px;
     padding: 6px;
     font-size: 18px;
    }
    .card{
        width: 360px;
        display: flex;
        flex-direction: column;
        height: 73vh;
    }
  .input{
    margin-right: 2px;
    width: 400px;
   
  }
    .input input{
    padding: 14px;
   width: 100%;
    outline: none;
   
}
}
@media (max-width: 1130px) {
    .lis{
        display: none;
      
    }
      .searched{
        top: 100px;

    }
    .li ul{
        background: rgb(10, 10, 10);
        color: rgb(226, 224, 224);
        top: 60px;
        position: absolute;
        display: flex;
        flex-direction: column;
        left: 0;
        text-decoration: none;
        box-shadow: 2px 3px 3px white;
        border-radius: 10px;
    }
}
@media (max-width: 700px) {
    .naves{
        width: 130%;
    }
    .rights-right p{
        display: none;
    }
      .input{
    
    left: 20px;
    width: 300px;

  }
    .input input{
    padding: 14px;
    width: 100%;
    outline: none;
   right: 30px;
}
}
@media (max-width: 1160px) {
    .list{
        display: block;
    }
} 